@import "compass/css3/box-sizing";
@import "mixins";
@import "variables";
@import "buttons";
@import "sprites";

#solr-fields {

  td {
    vertical-align: middle;
  }

  input[type=text] {
    margin: 0;
    width: 100%;
  }

  span.original-label {
    font-weight: bold;
  }

}

#facets-sort-form {

  ul {
    width: 50%;
  }

  li {
    padding: 0.5rem;
    cursor: pointer;

    &:empty {
      display: inherit;
    }
  }

  .ui-sortable-placeholder {
    border: 3px dashed #aaa;
    height: 17px;
    background: #ccc;
  }

  .move-icon {
    float: right;
    margin-top: 0.25em;
  }

}

#submit {
  margin-top: 2em !important;
}
